<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div style="width: 400px; margin: 0 auto">
        <img src = "/assets/images/character.png" style="width: 350px; height: 500px"/>

        <h4 style="text-align: left">당신 근처의 daangn</h4>
        <br />
        <p style="text-align: left">이제 내 동네에서</p>
        <p style="text-align: left">간편하게 중고거래 하자</p>

        <button onclick="location.href='/members/new'" class="btn btn-primary" style="margin-top: 15px; margin-bottom: 25px; width: 400px; height: 55px; background-color: #FE9A2E; font-weight: bold; border-color: #ffffff">시작하기</button>

        <a href="/members/login" style="margin-bottom: 50px; display: block; text-align: center; color: #2E2E2E; text-decoration-line: none">이미 계정이 있나요?</a>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
