<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .field-error {
        border-color: #4B0082;
        border-width: thin;
    }
</style>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>

  <form th:action="@{/items/new}" th:object="${form}" method="post" enctype="multipart/form-data">
    <div style="width: 400px; margin: 0 auto">
      <img src="${item.thumbnail}">
      <div class="form-group">
        <label th:for="name">상품명</label>
        <input type="text" th:field="*{name}"
               th:errorclass="field-error" class="form-control" placeholder="이름을 입력하세요"
               style="height: 50px; border-color: #2E2E2E; border-weight: 2px">
        <div class="field-error" th:errors="*{name}">
          상품명 오류
        </div>
      </div>
      <div class="form-group">
        <label th:for="price">가격</label>
        <input type="number" th:field="*{price}"
               th:errorclass="field-error" class="form-control" placeholder="가격을 입력하세요"
               style="height: 50px; border-color: #2E2E2E; border-weight: 2px">
        <div class="field-error" th:errors="*{price}">
          가격 오류
        </div>
      </div>
      <div class="form-group">
        <label th:for="description">자세한 설명</label>
        <input type="text" th:field="*{description}"
               th:errorclass="field-error" class="form-control" placeholder="상품 상세 설명을 입력해주세요"
               style="height: 50px; border-color: #2E2E2E; border-weight: 2px">
        <div class="field-error" th:errors="*{description}">
          설명 오류
        </div>
      </div>
      <div class="form-group">
        <label th:for="place">거래 희망 장소</label>
        <input type="text" th:field="*{place}"
               th:errorclass="field-error" class="form-control" placeholder="거래 희망 장소를 입력해주세요"
               style="height: 50px; border-color: #2E2E2E; border-weight: 2px">
        <div class="field-error" th:errors="*{place}">
          거래 희망 장소 오류
        </div>
      </div>

      <div class="form-group">
        <label th:for="file" style="margin-top: 3%; margin-bottom: 2%; color: #2E2E2E">파일</label>
        <input id="file" name="imageFiles" class="form-control" type="file" multiple="multiple" style="height: 50px; border-color: #2E2E2E; border-weight: 2px; margin-bottom: 5%; float: left"/>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-top: 15px; margin-bottom: 5px; width: 400px; height: 55px; background-color: #FE9A2E; font-weight: bold; border-color: #ffffff">작성 완료</button>
    </div>
  </form>
  <br/>
  <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->


</body>
</html>
